<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>imageColor</key>
		<dict>
			<key>image</key>
			<string>home_fontColor</string>
			<key>color</key>
			<string>ffffff</string>
		</dict>
		<key>borderColor</key>
		<string>393939</string>
		<key>cellBGColor1</key>
		<string>2E2E2E</string>
		<key>cellBGColor2</key>
		<string>3F3F3F</string>
		<key>lineColor39</key>
		<string>393939</string>
		<key>lineColor28</key>
		<string>282828</string>
		<key>lineColor24</key>
		<string>242424</string>
		<key>placeHolderColor</key>
		<string>949497</string>
		<key>topTextColor</key>
		<string>FFE6B1</string>
		<key>topBGColor</key>
		<string>565048</string>
		<key>listNormalColor</key>
		<string>e3e1e2</string>
		<key>normalTextColor</key>
		<string>ffffff</string>
		<key>desColor</key>
		<string>FFF7E6</string>
		<key>mainColor</key>
		<string>FFE6B1</string>
	</dict>
	<key>Home</key>
	<dict>
		<key>noticeTextColor</key>
		<string>ac804e</string>
		<key>homeTopBalanceTextColor</key>
		<string>FEF2C6</string>
		<key>homeTopBtnTitleColor</key>
		<string>69220f</string>
		<key>WIFIWellColor</key>
		<string>2bf10f</string>
		<key>WIFINormalColor</key>
		<string>f18c0d</string>
		<key>WIFIBadColor</key>
		<string>ed1c24</string>
	</dict>
	<key>User</key>
	<dict>
		<key>userBGColors</key>
		<array>
			<string>333333</string>
			<string>1B1A1E</string>
		</array>
		<key>avaterBorderColor</key>
		<string>965B1B</string>
		<key>userTipTextColor</key>
		<string>FAECD8</string>
		<key>userTipShadowColor</key>
		<string>031a35</string>
		<key>userValueTextColor</key>
		<string>ffffff</string>
		<key>userBtnTitleColor</key>
		<string>542503</string>
		<key>userPickerBtnTitleColor</key>
		<string>606060</string>
		<key>userPickerTopBGColor</key>
		<string>e7e5e6</string>
		<key>userTopTitleSelectColor</key>
		<string>291606</string>
		<key>userTopTitleNormalColor</key>
		<string>ceae83</string>
		<key>modifyPlaceHolderColor</key>
		<string>3a5168</string>
		<key>userWithdrawTextColor</key>
		<string>444244</string>
		<key>rebateAmountTotalTextColor</key>
		<string>FAECD8</string>
		<key>userHistoryBGView</key>
		<string>292929</string>
		<key>userHeaderViewBGColor</key>
		<string>292929</string>
		<key>userStateTopViewColor</key>
		<array>
			<string>29282A</string>
			<string>171618</string>
		</array>
		<key>userListNormalTextColor</key>
		<string>e3e1e2</string>
		<key>lastBottomLineColor</key>
		<string>393939</string>
		<key>userFundDetaileWithDrawTextColor</key>
		<string>ee4244</string>
		<key>userFundDetaileBalanceTextColor</key>
		<string>FFB300</string>
		<key>userBotLastBGView</key>
		<string>19181C</string>
		<key>userHeaderBGColor</key>
		<string>171618</string>
		<key>userBalanceCellColor2</key>
		<string>ff4242</string>
		<key>userBalanceCellColor3</key>
		<string>5aff00</string>
		<key>userBalanceCellColor4</key>
		<string>ffc664</string>
		<key>userLevelCellTipTextColor</key>
		<string>0e1821</string>
		<key>userStateTimeTextColor</key>
		<string>A9A9AE</string>
		<key>userStateTipTextColor</key>
		<string>E3C074</string>
		<key>userBetMoneyTextColor</key>
		<string>5AFF00</string>
		<key>userStatusTextColor</key>
		<string>FFC664</string>
	</dict>
	<key>Register</key>
	<dict>
		<key>regSendCodeTextColor</key>
		<string>592609</string>
		<key>signForgetColor</key>
		<string>FFCE7A</string>
		<key>countdownBtnTextColor</key>
		<string>ece5d3</string>
	</dict>
	<key>VIPInfo</key>
	<dict>
		<key>vipHeaderBGColor</key>
		<string>2E2E2E</string>
		<key>vipTextColor</key>
		<string>F2C993</string>
		<key>tipTextColor</key>
		<string>fcb415</string>
		<key>vipNextNormalColor</key>
		<string>F2C993</string>
		<key>vipHeaderLabelBGColor</key>
		<string>565048</string>
	</dict>
	<key>Activity</key>
	<dict>
		<key>signMoneyLabelShadowColor</key>
		<string>FFCE7A</string>
		<key>activityDetailViewBGColor</key>
		<string>242424</string>
		<key>activityDetailViewBorderColor</key>
		<string>af9763</string>
		<key>activitySignDoneColor</key>
		<string>ffce65</string>
		<key>activitiFontColor</key>
		<string>59c4ff</string>
		<key>activitiHTMLBGColor</key>
		<string>171717</string>
		<key>activitiDetailFontColor</key>
		<string>59c4ff</string>
		<key>activitiDetailHtmlBGColor</key>
		<string>021a34</string>
		<key>activityTodayTitleColor</key>
		<string>DEE034</string>
	</dict>
	<key>Safe</key>
	<dict>
		<key>safeDetailDateColor</key>
		<string>cfebfa</string>
		<key>safeInColor</key>
		<string>ffc664</string>
		<key>safePresentTextColor</key>
		<string>ffeab9</string>
		<key>safePasswordBGColor</key>
		<string>032945</string>
		<key>safeOutColor</key>
		<string>5aff00</string>
		<key>safePasswordBtnColor</key>
		<string>261404</string>
	</dict>
	<key>Agent</key>
	<dict>
		<key>agentLabelBGColor</key>
		<string>353535</string>
		<key>agentLabelLeftColor</key>
		<string>FF8B2D</string>
		<key>agentLabelTipColor</key>
		<string>fcb415</string>
		<key>drectlyTopNumTipColor</key>
		<string>FFC074</string>
		<key>agentRefreshTipColor</key>
		<string>F09045</string>
		<key>drectlyTopBGColor</key>
		<string>171816</string>
		<key>drectlyHeaderTextColor</key>
		<string>EDEDED</string>
		<key>agentShareTextColor</key>
		<string>fffd8c</string>
		<key>agentShareBGColor</key>
		<string>aa0000</string>
		<key>drectlyTextFieldBGColor</key>
		<string>0a243f</string>
		<key>drectlyBtnTitleColor</key>
		<string>562609</string>
		<key>performListColor2</key>
		<string>5aff00</string>
		<key>performListColor3</key>
		<string>ffc664</string>
		<key>performBtnTitleColor</key>
		<string>29170c</string>
		<key>agentCellTextColor2</key>
		<string>5aff00</string>
		<key>agentCellTextColor3</key>
		<string>ffc664</string>
		<key>agentLQBtnTitleColor</key>
		<string>FFC67A</string>
		<key>agentCellTopAndBottom</key>
		<string>393939</string>
		<key>agentCellDefault</key>
		<string>052e44</string>
		<key>agentReturnListLineColor</key>
		<string>302e2d</string>
		<key>agentReturnListAmantColor</key>
		<string>b89f6b</string>
		<key>agentBottomTextColor</key>
		<string>18b6ff</string>
		<key>agentReturnCellBGCell</key>
		<array>
			<string>3D3B36</string>
			<string>88704f</string>
		</array>
		<key>agentReturnCellAmantColor</key>
		<string>5aff00</string>
	</dict>
	<key>Setting</key>
	<dict>
		<key>forgetLeftTextColor</key>
		<string>ffffff</string>
		<key>sendCodeBtnTitleColor</key>
		<string>592609</string>
		<key>voiceTipTextColor</key>
		<string>E3C074</string>
		<key>voiceBGColor</key>
		<array>
			<string>0C0C0C</string>
			<string>212121</string>
		</array>
		<key>pawTipTextColor</key>
		<string>cfebfa</string>
		<key>updateTipTextColor</key>
		<string>ffeaca</string>
	</dict>
	<key>Message</key>
	<dict>
		<key>messageTitleNormalTextColor</key>
		<string>ffe2a1</string>
		<key>massageBotBGColor</key>
		<string>2E2E2E</string>
		<key>messageBotBorderColor</key>
		<string>a4967a</string>
		<key>messageDateTextColor</key>
		<string>F8EDD8</string>
		<key>messageShowBtnTitleNormalColor</key>
		<string>00cdff</string>
		<key>messageTitleIsReadTextColor</key>
		<string>FFF7E6</string>
	</dict>
	<key>Pay</key>
	<dict>
		<key>imageColor</key>
		<dict>
			<key>image</key>
			<string>home_fontColor</string>
			<key>color</key>
			<string>ffffff</string>
		</dict>
		<key>payBindBankCardBGView</key>
		<array>
			<string>09080a</string>
			<string>29282A</string>
		</array>
		<key>payBindBCTopTextColor</key>
		<string>fcb415</string>
		<key>cardListTopTextColor</key>
		<string>A9A9AE</string>
		<key>cardListBGViewColor</key>
		<string>242424</string>
		<key>rechargeCellTextColorDefault</key>
		<string>e3e1e2</string>
		<key>rechargeCellTextColor2</key>
		<string>ffd401</string>
		<key>rechargeCellTextColor3</key>
		<string>f8d19d</string>
		<key>rechargeCellSelectTextColor</key>
		<string>45210f</string>
		<key>rechargeCellNormalTextColor</key>
		<dict>
			<key>color</key>
			<string>83c8da</string>
			<key>image</key>
			<string>home_fontColor</string>
		</dict>
		<key>rechargeDetailConnectColor</key>
		<string>fcb415</string>
		<key>statusSuccessColor</key>
		<string>1ADA48</string>
		<key>payTipTextColor</key>
		<string>F0C882</string>
		<key>statusFailureColor</key>
		<string>FF4242</string>
		<key>statusWaitColor</key>
		<string>E69B07</string>
		<key>statusReturnColor</key>
		<string>00eaff</string>
		<key>rechargeMoneyColor</key>
		<string>fefefe</string>
		<key>rechargeCopyTitleColor</key>
		<string>fcb415</string>
		<key>rechareServerBGColor</key>
		<array>
			<string>04739d</string>
			<string>016288</string>
		</array>
		<key>rechareServerBorderColor</key>
		<string>3c95b4</string>
		<key>rechargeSupportTextColor</key>
		<string>c5eafe</string>
		<key>payeeAliTextColor</key>
		<string>c9e2fe</string>
		<key>payeeWXTextColor</key>
		<string>bcf0b8</string>
		<key>payeeCloudTextColor</key>
		<string>f6c8c8</string>
		<key>rechargeMethodTextColor</key>
		<string>c5eafe</string>
		<key>rechargeServerShowViewBGColor</key>
		<string>3c95b4</string>
		<key>rechargeServerShowBorderColor</key>
		<string>084b62</string>
		<key>rechargeServerTitleColor</key>
		<string>fcb415</string>
		<key>rechargeCoinShowViewBGColor</key>
		<array>
			<string>29282A</string>
			<string>171618</string>
		</array>
		<key>rechargeCoinTitleColor</key>
		<string>FDE1BD</string>
		<key>rechargeCoinMoneyColor</key>
		<string>503215</string>
		<key>rechargeBottomInputBGColor</key>
		<array>
			<string>29282A</string>
			<string>09080a</string>
		</array>
		<key>rechargeBottomBorderColor</key>
		<string>38373A</string>
		<key>rechargeThirdPayTipTextColor</key>
		<string>fcb415</string>
		<key>rechargeTextColor</key>
		<string>c5eafe</string>
		<key>rechargeInfoColor</key>
		<string>c5eafe</string>
		<key>rechargeBottomOperationColor</key>
		<array>
			<string>222225</string>
			<string>131315</string>
		</array>
		<key>rechargeCodeViewBGColor</key>
		<array>
			<string>29282A</string>
			<string>171618</string>
		</array>
		<key>rechargeTeachTextColor</key>
		<string>dac18b</string>
		<key>rechargeVipBorderColor</key>
		<string>3c95b4</string>
		<key>rechargeVipBGColor</key>
		<string>084b62</string>
		<key>rechargeThridBorderColor</key>
		<string>3c95b4</string>
		<key>rechargeThridBGColor</key>
		<string>084b62</string>
	</dict>
	<key>WashCode</key>
	<dict>
		<key>washcodeBGColor</key>
		<array>
			<string>18171B</string>
			<string>27272A</string>
		</array>
		<key>washcodeTextColor</key>
		<string>a8e0ff</string>
		<key>washcodeBtnTitleColor</key>
		<string>542503</string>
		<key>washcodeLastTimeColor</key>
		<string>eeeeed</string>
		<key>washcodeLastTimeValueColor</key>
		<string>FFF7E6</string>
		<key>washcodeHeaderBGColor</key>
		<string>242424</string>
		<key>washcodeHeaderTipBGColor</key>
		<string>3F3F3F</string>
		<key>washcodeHeaderTipTextColor</key>
		<string>FDE1BD</string>
		<key>washcodeTitleTextColor</key>
		<string>FDE1BD</string>
		<key>washcodeTitleBGColor</key>
		<string>555048</string>
		<key>washcodeListBtnTitleColor</key>
		<string>18b6ff</string>
		<key>washcodeCellTextColor2</key>
		<string>95A5AF</string>
		<key>washcodeDetailLabelColor0</key>
		<string>eeeeed</string>
		<key>washcodeMeBGColor</key>
		<string>393939</string>
		<key>washcodeMeJBColor</key>
		<array>
			<string>3D3B36</string>
			<string>88704f</string>
		</array>
		<key>washcodeHistoryCellBGColor</key>
		<array>
			<string>574e44</string>
			<string>e1a862</string>
		</array>
		<key>washcodeHistoryBGColor</key>
		<string>e1a862</string>
	</dict>
	<key>Service</key>
	<dict>
		<key>serviceListAvatarBGColor</key>
		<string>EEEEEE</string>
		<key>serviceOnlineTopTextColor</key>
		<string>FFCE7A</string>
		<key>serviceNumberTextColor</key>
		<dict>
			<key>image</key>
			<string>home_fontColor</string>
			<key>color</key>
			<string>daf8ff</string>
		</dict>
		<key>serviceWorkTextColor</key>
		<string>090909</string>
	</dict>
	<key>Withdraw</key>
	<dict>
		<key>withdrawHistoryBtnTitleColor</key>
		<string>cacaca</string>
		<key>withdrawRightViewBGColor</key>
		<string>171618</string>
		<key>withdrawTextFieldBGColor</key>
		<string>0b0b0d</string>
		<key>withdrawPlaceHolderColor</key>
		<string>aaaaaa</string>
		<key>withdrawTopTextColor</key>
		<string>A9A9AE</string>
		<key>withdrawBalanceBtnTitleColor</key>
		<string>f8d19d</string>
		<key>withdrawBankRightBtnHistoryColor</key>
		<string>E3C074</string>
		<key>withdrawBankTextColor</key>
		<string>ff4c52</string>
		<key>withdrawHistoryBtnTilteColor</key>
		<string>E3C074</string>
		<key>withdrawBankTipTextColor</key>
		<string>A9A9AE</string>
		<key>withdrawHistoryCellColor4</key>
		<string>ffd401</string>
		<key>withdrawHistoryCellColor5</key>
		<string>00eaff</string>
	</dict>
	<key>AlertView</key>
	<dict>
		<key>currentBGColors</key>
		<array>
			<string>C9985D</string>
			<string>FFDAA6</string>
		</array>
		<key>currentTextColor</key>
		<string>291606</string>
		<key>defaultColor</key>
		<string>161616</string>
		<key>defaultTextColor</key>
		<string>A9A9AE</string>
		<key>contentTextColor</key>
		<string>E2E2E2</string>
		<key>alertCellTextColor</key>
		<string>fdfdfd</string>
		<key>alertCellBGColor</key>
		<string>04293f</string>
	</dict>
	<key>LeftView</key>
	<dict>
		<key>leftViewItemSelectTextColor</key>
		<string>593012</string>
	</dict>
</dict>
</plist>
